.block-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: .2rem;
}

.block {
    background-color: lightgray;
    padding: .7rem;
    border-top: 3px solid;
    display: flex;
    justify-content: space-between;

    div {
        flex-grow: 1;
    }

    p {
        margin-bottom: .5rem;
        border-bottom: 1px solid;
        padding: .5rem .5rem .5rem 0;
    }

    div:last-child {
        text-align: end;
    }
}