.number {
    font-size: 3rem;
    font-weight: 700;
}

.title {
    font-size: 4rem;
    text-transform: uppercase;
    border-bottom: 5px solid;
}

.intro {
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid;
    margin-bottom: 2rem;
}

.feauture {
    display: flex;
    padding: 10px;
    justify-content: flex-end;

    p {
        padding: .5rem 1rem;
        border-left: 2px solid;
        text-align: center;
        font-size: 1.2rem;
    }
}

.global-row {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 1.5rem;
}
