$main-honey-bg: rgb(255, 169, 0);
$first-honey-bg: rgb(252, 204, 0);
$second-honey-bg: rgb(254, 225, 1);

$recipe-main-color: #BFA630;
$recipe-shadow-color: #ece8d0;
$olfactory-main-color: #FFCF73;
$olfactory-shadow-color: #f1e5cf;

/*global*/
$font-main-color: #1A1A1A;
$light-color: #F2F2F2;

$g-title: 1.7em;
$g-subtitle: 1.4em;
