<ng-container *ngIf="ingredients">
    <h3 class="block-title">ingredients</h3>
    <div class="block">

        <div class="list">
            <h3 class="list__title">
                солод
            </h3>

            <div *ngFor="let malt of ingredients.malt" class="item">
                <p>{{malt.name}}</p>
                <p>{{malt.amount}}</p>
            </div>

        </div>

        <div class="list">
            <h3 class="list__title">
                хмель
            </h3>

            <div class="item" *ngFor="let hop of ingredients.hops">
                <p>{{hop.name}}</p>
                <p>{{hop.amount}}</p>
                <p>{{hop.addingTime}}</p>
                <p>{{hop.attribute}}</p>
            </div>
        </div>

        <div class="list">
            <h3 class="list__title">
                дрожжи
            </h3>

            <div>
                <p>{{ingredients.yeast}}</p>
            </div>
        </div>
    </div>
</ng-container>